In [36]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [37]:
df = pd.read_pickle('../data/corpus.pkl')

In [38]:
df

,word,pos,syllables,word_vec
0,δημήτηρ,n-s---fn-,δη μή τηρ,"[17, 19, 10, 29, 6, 19, 8, 0, 0, 0, 0, 0, 0, 0..."
1,ἀείδειν,v--pna---,ἀ εί δειν,"[21, 4, 16, 17, 4, 5, 1, 0, 0, 0, 0, 0, 0, 0, ..."
2,αὐτὴν,a-s---fa-,αὐ τὴν,"[3, 43, 6, 50, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
3,κούρην,n-s---fa-,κού ρην,"[13, 2, 28, 8, 19, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,περικαλλέα,a-s---fa-,πε ρι καλ λέ α,"[9, 4, 8, 5, 13, 3, 12, 12, 15, 3, 0, 0, 0, 0,..."
...,...,...,...,...
42071,ἐπόψομαι,v1sasm---,ἐ πό ψο μαι,"[26, 9, 23, 46, 2, 10, 3, 5, 0, 0, 0, 0, 0, 0,..."
42072,φανῶς,v3pasp---,φα νῶς,"[24, 3, 1, 41, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
42073,ἐριαύχενας,a-p---ma-,ἐ ρι αύ χε νας,"[26, 8, 5, 3, 28, 27, 4, 1, 3, 11, 0, 0, 0, 0,..."
42074,πᾶς,a-p---fn-,πᾶς,"[9, 55, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
42075,πᾶς,a-s---fn-,πᾶς,"[9, 55, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."

In [39]:
# create a character dictionary to replace the tensorflow one
chars = 'νοαειτσρπμςλκυέίδθηάἀγόφωἐχύήβῖξἰἔώῆζῦῃἄῶὸὐὀῳψὑὰὶὴἴἱῇἑᾶὁὄῥῷἠὺὼἕἡἁὔᾳἵἤὠὲᾷὅὕἥἶἅὤἷῴῄἦὖἧὦὗΰἆὥὡᾔᾴᾤᾖἃὧᾗᾧᾐὃἂᾄᾠἣἓἳᾕᾑἲῢὓὢὂἢᾇὣἒῂᾦἇᾁᾀ'
char_dict = {element:i+1 for i, element in enumerate(chars)}

In [40]:
# vectorize the words

In [41]:
tk_words = Tokenizer(num_words=None,
               char_level=True, 
               oov_token='UNK'
              )

In [42]:
tk_words.fit_on_texts(df.word.values)

In [43]:
tk_words.word_index = char_dict
tk_words.word_index[tk_words.oov_token] = max(char_dict.values()) +1

In [44]:
seq_words = tk_words.texts_to_sequences(df.word.values)
# test_seq_words = tk_words.texts_to_sequences(X_test.word.values)

In [45]:
data_words = pad_sequences(sequences=seq_words, maxlen=28, padding='post')
# test_data_words = pad_sequences(sequences=test_seq_words, maxlen=28, padding='post')

In [46]:
data_words

array([[17, 19, 10, ...,  0,  0,  0],
       [21,  4, 16, ...,  0,  0,  0],
       [ 3, 43,  6, ...,  0,  0,  0],
       ...,
       [26,  8,  5, ...,  0,  0,  0],
       [ 9, 55, 11, ...,  0,  0,  0],
       [ 9, 55, 11, ...,  0,  0,  0]], dtype=int32)

In [47]:
df

,word,pos,syllables,word_vec
0,δημήτηρ,n-s---fn-,δη μή τηρ,"[17, 19, 10, 29, 6, 19, 8, 0, 0, 0, 0, 0, 0, 0..."
1,ἀείδειν,v--pna---,ἀ εί δειν,"[21, 4, 16, 17, 4, 5, 1, 0, 0, 0, 0, 0, 0, 0, ..."
2,αὐτὴν,a-s---fa-,αὐ τὴν,"[3, 43, 6, 50, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
3,κούρην,n-s---fa-,κού ρην,"[13, 2, 28, 8, 19, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,περικαλλέα,a-s---fa-,πε ρι καλ λέ α,"[9, 4, 8, 5, 13, 3, 12, 12, 15, 3, 0, 0, 0, 0,..."
...,...,...,...,...
42071,ἐπόψομαι,v1sasm---,ἐ πό ψο μαι,"[26, 9, 23, 46, 2, 10, 3, 5, 0, 0, 0, 0, 0, 0,..."
42072,φανῶς,v3pasp---,φα νῶς,"[24, 3, 1, 41, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
42073,ἐριαύχενας,a-p---ma-,ἐ ρι αύ χε νας,"[26, 8, 5, 3, 28, 27, 4, 1, 3, 11, 0, 0, 0, 0,..."
42074,πᾶς,a-p---fn-,πᾶς,"[9, 55, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
42075,πᾶς,a-s---fn-,πᾶς,"[9, 55, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."

In [48]:
# vectorize the syllables

In [49]:
tk_syllables = Tokenizer(num_words=None,
                        char_level=False, 
                        oov_token='UNK',
                       )

In [50]:
tk_syllables.fit_on_texts(df.syllables.values)

In [51]:
seq_syllables = tk_syllables.texts_to_sequences(df.syllables.values)
# test_seq_syllables = tk_syllables.texts_to_sequences(X_test.syllables.values)

In [52]:
data_syllables = pad_sequences(sequences=seq_syllables, maxlen=28, padding='post')
# test_data_syllables = pad_sequences(sequences=test_seq_syllables, maxlen=28, padding='post')

In [56]:
df['syllable_vec'] = data_syllables.tolist()

In [57]:
df

,word,pos,syllables,word_vec,syllable_vec
0,δημήτηρ,n-s---fn-,δη μή τηρ,"[17, 19, 10, 29, 6, 19, 8, 0, 0, 0, 0, 0, 0, 0...","[192, 131, 1918, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
1,ἀείδειν,v--pna---,ἀ εί δειν,"[21, 4, 16, 17, 4, 5, 1, 0, 0, 0, 0, 0, 0, 0, ...","[2, 438, 1383, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
2,αὐτὴν,a-s---fa-,αὐ τὴν,"[3, 43, 6, 50, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[149, 946, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
3,κούρην,n-s---fa-,κού ρην,"[13, 2, 28, 8, 19, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...","[364, 752, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
4,περικαλλέα,a-s---fa-,πε ρι καλ λέ α,"[9, 4, 8, 5, 13, 3, 12, 12, 15, 3, 0, 0, 0, 0,...","[17, 33, 568, 39, 10, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...
42071,ἐπόψομαι,v1sasm---,ἐ πό ψο μαι,"[26, 9, 23, 46, 2, 10, 3, 5, 0, 0, 0, 0, 0, 0,...","[3, 99, 904, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
42072,φανῶς,v3pasp---,φα νῶς,"[24, 3, 1, 41, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[115, 4978, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
42073,ἐριαύχενας,a-p---ma-,ἐ ρι αύ χε νας,"[26, 8, 5, 3, 28, 27, 4, 1, 3, 11, 0, 0, 0, 0,...","[3, 33, 1130, 165, 158, 0, 0, 0, 0, 0, 0, 0, 0..."
42074,πᾶς,a-p---fn-,πᾶς,"[9, 55, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[2290, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
42075,πᾶς,a-s---fn-,πᾶς,"[9, 55, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[2290, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [53]:
data = np.concatenate((data_words, data_syllables), axis=1)
# test_data = np.concatenate((test_data_words, test_data_syllables), axis=1)

In [58]:
df.to_pickle('../data/corpus.pkl')

In [55]:
# vectorize the pos (target)

In [105]:
tk_pos = Tokenizer(num_words=None,
                      char_level=True, 
                      oov_token='UNK',
                      split=' '
                     )

In [106]:
tk_pos.fit_on_texts(df.pos.values)

In [107]:
# save the pos character dictionary in order to decode predictions
decoder = tk_pos.word_index

In [127]:
seq_pos = tk_pos.texts_to_sequences(df.pos.values)

In [149]:
data_df = pd.DataFrame({'y':seq_pos, 'X':data})

In [157]:
data_df.to_pickle('../data/data_df.pkl')

In [158]:
data_df

,y,X
0,"[4, 2, 5, 2, 2, 2, 9, 4, 2]","[17, 19, 10, 29, 6, 19, 8, 0, 0, 0, 0, 0, 0, 0..."
1,"[8, 2, 2, 6, 4, 3, 2, 2, 2]","[21, 4, 16, 17, 4, 5, 1, 0, 0, 0, 0, 0, 0, 0, ..."
2,"[3, 2, 5, 2, 2, 2, 9, 3, 2]","[3, 43, 6, 50, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
3,"[4, 2, 5, 2, 2, 2, 9, 3, 2]","[13, 2, 28, 8, 19, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,"[3, 2, 5, 2, 2, 2, 9, 3, 2]","[9, 4, 8, 5, 13, 3, 12, 12, 15, 3, 0, 0, 0, 0,..."
...,...,...
42071,"[8, 17, 5, 3, 5, 7, 2, 2, 2]","[26, 9, 23, 46, 2, 10, 3, 5, 0, 0, 0, 0, 0, 0,..."
42072,"[8, 11, 6, 3, 5, 6, 2, 2, 2]","[24, 3, 1, 41, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
42073,"[3, 2, 6, 2, 2, 2, 7, 3, 2]","[26, 8, 5, 3, 28, 27, 4, 1, 3, 11, 0, 0, 0, 0,..."
42074,"[3, 2, 6, 2, 2, 2, 9, 4, 2]","[9, 55, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
42075,"[3, 2, 5, 2, 2, 2, 9, 4, 2]","[9, 55, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."